einops==0.8.1
huggingface_hub==0.30.2
joblib==1.4.2
librosa==0.10.2.post1
numpy==1.23.5
packaging==25.0
pesq==0.0.4
pydub==0.25.1
rotary_embedding_torch==0.8.3
scipy==1.15.2
soundfile==0.12.1
torch==2.7.0
torchaudio==2.7.0
torchinfo==1.8.0
torchvision==0.22.0
tqdm==4.67.0
yamlargparse==1.31.1
